/* Whole body CSS Start */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: #222831;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

section {
  position: relative;
  padding-top: 50px;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 24px;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
  font-size: 17px;
}

h1,
h2,
h3,
h5,
h6 {
  margin: 0;
  font-family: "Grand Hotel", cursive !important;
}

h1 {
  font-size: 110px;
}

h2 {
  font-size: 100px;
}

h3 {
  font-size: 50px;
}

h4 {
  margin: 0;
  font-size: 26px;
}

sup {
  font-size: 10px;
}

sup:hover {
  text-decoration: underline;
}

i {
  vertical-align: middle;
}

img {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* Whole body CSS End */

/* Header Start */

header {
  margin-top: 20px;
}

.header-menu {
}

.header-menu ul {
}

.header-menu ul li {
  display: inline-block;
  margin-right: 40px;
}

.header-menu ul li:last-child {
  margin: 0;
}

.header-menu ul li a {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  transition: unset;
}

.header-menu ul li a:hover {
  border-bottom: 3px solid #29a19c;
}

.header-menu ul li a:active {
  border-bottom: 3px solid #29a19c;
}

.logo {
  float: right;
}

.logo img {
  width: 150px;
}

/* Header End */

/* Section Start */
.section-one {
  overflow: hidden;
}

.content-area {
  margin-left: 80px;
}

.content-area h1 {
  margin-bottom: 30px;
}

.content-area h4 {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.content-area p {
  margin-top: 10px;
}

.button {
  color: #fff;
  background: #29a19c;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 30px;
  display: inline-block;
  word-spacing: 4px;
}

.button:hover {
  opacity: 0.8;
  transform: translateX(10px);
}

.image-area {
}

.image-area img {
}

.end-design {
  position: absolute;
  bottom: -55px;
}

/* Section End */

/* Section Start */
.section-two {
  background: #29a19c;
}

.text-content {
  margin-left: 30px;
}

.text-content h2 {
  margin-bottom: 30px;
}

.section-two .text-content a {
  background-color: #222831;
}

.image-content {
  margin-right: 30px;
}

.image-content img {
  max-width: 400px;
}

.image-content p {
  max-width: 400px;
  margin-top: 20px;
  text-align: right;
}

.section-two .end-design {
  bottom: -130px;
  z-index: -1;
}

/* Section End */

/* Section Start */
.section-three {
  padding-top: 100px;
}

.section-three .image-content {
  margin-left: 30px;
}

.section-three .image-content p {
  text-align: left;
}

.section-three .text-content {
  margin-right: 30px;
  display: inline-block;
}

.section-three .text-content h2 {
  text-align: right;
}

.section-three .text-content a {
  float: right;
}

/* Section End */

/* Banner Start */

.banner-sec {
}

.banner-content {
  text-align: center;
}

.banner-content h1 {
  margin-bottom: 10px;
  text-align: center;
}

.banner-content img {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}

.banner-content a {
  margin: 0;
  font-size: 30px;
}

/* Banner End */

/* Testimonials Start */

.clients-sec {
  margin-bottom: 170px;
}

.clients-sec h2 {
  text-align: center;
  font-size: 80px;
}

.clients-content {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 30px;
}

.clients-content img {
}

.clients-content h3 {
  margin: 20px 0;
}

.clients-content p {
}

/* Testimonials End */

/* Timing Start */

.timing-sec {
  background: #29a19c;
  position: relative;
}

.top-design {
  position: absolute;
  top: -170px;
  z-index: -1;
}

.timing-content {
  text-align: center;
}

.timing-content h3 {
  font-size: 70px;
  margin-bottom: 20px;
}

.timing-detail {
  margin-top: 40px;
}

.timing-detail h4 {
  font-weight: bold;
}

.timing-detail p {
  font-size: 24px;
}

.timing-sec .end-design {
  bottom: -180px;
  z-index: -1;
}

/* Timing End */

/* Branches Start */

.branches-sec {
  margin-top: 130px;
  margin-bottom: 170px;
}

.branches-sec h2 {
  text-align: center;
  font-size: 80px;
  margin-bottom: 20px;
}

.branches-content {
  text-align: center;
  margin: 0 auto;
}

.branches-content img {
  max-width: 300px;
  border-radius: 2px;
}

.branches-content h4 {
  font-size: 30px;
  border-radius: 12px;
  padding: 10px 0;
  margin: 30px 0;
  background: #29a19c;
  display: inline-block;
  position: relative;
  width: 70%;
}

.branches-content h4::before {
  position: absolute;
  background: #29a19c;
  height: 30px;
  width: 20px;
  bottom: -14px;
  left: 0px;
  content: "";
  border-radius: 0 0 4px 30px;
}

.branches-content p {
}

/* Branches End */

/* Footer Start */

footer {
  padding-top: 50px;
  padding-bottom: 20px;
  background: #29a19c;
  position: relative;
}

footer .top-design {
  top: -110px;
  z-index: -1;
}

.logo-content {
}

.logo-content img {
  max-width: 200px;
}

.logo-content p {
  margin-top: 20px;
  max-width: 400px;
  font-size: 16px;
}

.footer-info {
}

.footer-info h4 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

.footer-info li {
  margin-bottom: 10px;
}

.footer-info li a {
  font-size: 16px;
  color: #fff;
}

.footer-info li a:hover {
  margin-left: 10px;
}

.footer-menu {
}

.footer-menu ul li {
  display: inline-block;
  margin-right: 50px;
}

.footer-menu ul li:last-child {
  margin: 0;
}

.footer-menu ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: unset;
}

.footer-menu ul li a:hover {
  border-bottom: 2px solid #fff;
}

.footer-links {
  float: right;
}

.footer-links li {
  display: inline-block;
  margin-right: 30px;
}

.footer-links li a {
  color: #fff;
}

.footer-links li a i {
  font-size: 17px;
  transition: all 0.3s ease;
}

.footer-links li a i:hover {
  font-size: 22px;
}

/* Footer End */
